@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  color: #262626;
  background: linear-gradient(
    141deg,
    #ccfbf1 9.62%,
    #f3f4f6 30.52%,
    #f3f4f6 72.32%,
    #ccfbf1 93.21%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
